# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
!apps/web/.next/standalone/
!apps/web/.next/static/
out/
build/
dist/
!apps/api/dist/

# Environment variables
.env
.env*.local
.env.production
apps/api/.env
apps/web/.env.local
render.env

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS
.DS_Store
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Misc
*.tsbuildinfo
.turbo

# Logs
*.log
